.bg-company-red {
    background-color: red !important;
}

.bg-company-white {
    background-color: white !important;
}

.bg-company-blue {
    background-color: #343a40 !important;
}

mat-sidenav-content {
    height: 100vh;
    overflow: hidden;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: #343a40;
    text-decoration: none;
    cursor: pointer;
}

mat-sidenav,
mat-sidenav.mat-locked-open,
mat-sidenav.mat-closed.md-locked-open-add-active {
    min-width: 100px !important;
    width: 85vw !important;
    max-width: 400px !important;
    overflow: hidden;
}


/* mobile responsive */

@media(max-width:1000px) {
    .desktop {
        display: none;
    }
}


/* desktop responsive */

@media(min-width:1000px) {
    .mobile {
        display: none;
    }
}


/* Profile container */

.profile {
    margin: 20px 0;
}


/* Profile sidebar */

.profile {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    text-transform: uppercase;
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: lowercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}


/* .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
} */

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}


/* Profile Content */

.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}