.bg-company-red {
    background-color: red !important;
}
.bg-company-white {
    background-color: white !important;
}
.bg-company-blue {
    background-color: #343a40 !important;
}
mat-sidenav-content {
    height: 100vh;
  }
 .example-fill-remaining-space {
   
    flex: 1 1 auto;
  }
  a {
    text-decoration: none;
}

a:hover 
{
     color:#343a40; 
     text-decoration:none; 
     cursor:pointer;  
}




 mat-sidenav, 
mat-sidenav.mat-locked-open, 
mat-sidenav.mat-closed.md-locked-open-add-active {
    min-width: 100px !important;
    width: 85vw !important;
    max-width: 400px !important;
}  

 

  /* mobile responsive */
@media(max-width:1000px){
.desktop{
   display: none;
}
}


/* desktop responsive */
@media(min-width:1000px){
   .mobile{
      display: none;
}
}