.example-fill-remaining-space {
    flex: 1 1 auto;
}

.mt-4 {
    max-width: 100%;
    /* margin: 4px -12px 4px 12px; */
}

.mat-tab-group {
    margin-bottom: 48px;
}

table {
    width: 100%;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: 15px;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}


/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}


/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}


/* Reactive form */


/* @import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600'); */

body {
    font-family: 'Muli', sans-serif;
    background: #F5F5F6;
}

.jumbotron {
    padding: 20px 2rem 27px;
    background: #312BC6;
    margin: 0 auto 25px;
    border-radius: 0;
}

.h1,
h1 {
    font-size: 25px;
    color: #4EABE6;
    font-weight: 300;
    margin: 0;
}

h5 {
    font-weight: 600;
}

.custom-wrapper {
    max-width: 460px;
    margin: 0 auto 150px;
}

.h2,
h2 {
    font-size: 1.45rem;
}

label {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
}

.group-gap {
    margin-bottom: 40px;
}


/* .btn.focus,
.btn:focus,
.form-control:focus,
.custom-select:focus,
.custom-select:focus {
    box-shadow: none;
}

.form-control:focus,
.custom-select:focus {
    border: 1px solid #0C1CFF;
}

.btn-success,
.btn-success:hover {
    color: #312BC6;
    border-color: #00FC79;
    background-color: #00FC79;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 13px 15px 15px;
    font-size: 16px;
    border-radius: 0;
    text-transform: uppercase;
} */

.btn-group-sm>.btn,
.btn-sm {
    padding: 10px 16px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 19px;
    z-index: 1;
    top: 13px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit .custom-label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #3efc78;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
    background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
    background: rgb(255, 4, 4);
}

.avatar-upload .avatar-edit .custom-label:hover {
    opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 8px;
    right: 0;
    left: 2px;
    width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
    content: url('../../../../assets/svg/edit.svg');
}

.avatar-upload .avatar-edit .remove-image:after {
    content: url('../../../../assets/svg/close.svg');
    left: 0px !important;
}

.avatar-upload .avatar-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    border: 12px solid #fff;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-control1 {
    height: auto;
    padding: 15px;
    font-size: 14px;
    color: #222222;
    border-radius: 0;
    background: #FDFDFD;
    border: 1px solid #312BC6;
}

.custom-select {
    height: auto;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #222222;
    background-color: #FDFDFD;
    border: 1px solid #312BC6;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #E91E63;
    background-color: #E91E63;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-control-label {
    cursor: pointer;
}

.error:focus,
.error {
    border-color: rgb(255, 4, 4);
    color: rgb(255, 4, 4);
}

.invalid-feedback {
    color: rgb(255, 4, 4);
}

.btn-danger,
body .btn-danger:hover {
    background: #312BC6;
    border-color: #312BC6;
    color: #4EABE6;
}

.subjectList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.subjectList li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.invalid-feedback {
    display: block;
}

.mb-3,
.my-3 {
    margin-bottom: 15px !important;
}

.custom-control {
    margin-bottom: 5px;
}

.custom-control label {
    font-weight: 400;
}