<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          
            <div [hidden]="!submitted" >
                <h5 class="card-title text-center "><strong>
                    <h5 style="color: rgb(33, 184, 33);">Congratulations! You have successfully verified...</h5>
                    <h5>Create your login password here !!!</h5>
                </strong></h5>
                <form (ngSubmit)="passwordcreate()">
                  <div class="form-group">
                    <label for="name">Password</label>
                    <input type="text" class="form-control" id="password" required [(ngModel)]="password" name="password">
                  </div>
              
                  <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase ">Submit</button>
                </form>
              </div>
              <br>
              <div [hidden]="submitted">
                  <h5 style="color: red;">"Oops, something went wrong !!!" </h5>
              </div>
              
          
          </div>
        </div>
      </div>
    </div>
  </div>